.titleSection {
  text-align: center;
}
.titleSection h2 {
  margin-top: 50px;
}

.addReviewSection {
  padding: 1rem;
}

.reviewForm {
  margin: 0px auto;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  color: #333;
}

.input,
.textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus {
  border-color: #007bff;
}

.textarea {
  min-height: 80px;
  resize: vertical;
}

.star {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}

.star:hover,
.filled {
  color: #ffd700;
}

.submitButton {
  background-color: #135474;
  color: white;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 50%;
}

.submitButton:hover {
  background-color: #579bbd;
}
